/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  max-width: 150px;
  height: auto;
}

main {
  width: 90%;
  max-width: 500px;
  text-align: center;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

ul li {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#add-button {
  background-color: #28a745;
  color: #fff;
}

#delete-button {
  background-color: #dc3545;
  color: #fff;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0);
}

.msg-box {
  background-color: #01a2ff69;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.msg-box.hidden {
  display: none;
}

.msg-box.red {
  background-color: #dc354621;
}

.msg-box.green {
  background-color: #28a74621;
}


/* Responsive Design */
@media (max-width: 600px) {
  main {
    width: 95%;
  }

  .button-container {
    flex-direction: column;
    gap: 10px;
  }

  .btn {
    width: 100%;
  }
}